* {
    margin: 0;
    padding: 0
}

body {
    background-color: #c4c4c4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content {
    text-align: center;
    background-color: rgb(85, 180, 224);
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif
}

.formulario {
    background-color: rgb(5, 60, 92);
    padding: 12px 20px 12px 40px;
    color: rgb(95, 95, 95);
    
}

#busqueda {
    background-position: 10px 10px;
    width: 100%;
    font-size: 16px;
    color: #fff;
}
